@import "../../utils/colors";

.navbar {
  display: flex;
  justify-content: center;
  align-items: center; /* Центрирование элементов по вертикали */
  height: 50px;
  background-color: white;
  width: 100%;

  &__header{
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
  }
  &__login{
    margin-left: auto;
    margin-right: 20px;
  }
}
.navbar__logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.container {
  width: 1140px;
  display: flex;
  align-items: center;
}


#root{
  width: 100%;

}